body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-image: url("/Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container h3 {
    font-size: 40px;
    margin-bottom: 21px;
    height: 36px;
}

.score {
    width: 155px;
    height: 120px;
    background: #000000;
    border-radius: 6px;
    font-family: "cursed timer ulil";
    font-size: 90px;
    border: 2px solid #ffffff;
    margin-bottom: 26px;
}

.score p {
    margin: 10px auto;
    color: #FF0800;
}

.btn {
    width: 45px;
    height: 45px;
    border: 2px solid #ffffff;
    background: #000000;
    font-family: "cursed timer ulil";
    color: #ffffff;
    font-size: 20px;
}

#new-game {
    margin: 30px;
    height: 60px;
    width: 150px;
    border: 2px solid #ffffff;
    background: #000000;
    font-family: "cursed timer ulil";
    color: #ffffff;
    font-size: 25px;
}